<MudGrid>
    <MudItem xs="12" sm="12" md="6" lg="6" xl="4">
        <MudCard Elevation=" 3" Style="height: 100%">
            <MudCardHeader>
                <article class="copyright-info">
                    <p class="copyright"><MudSkeleton Animation="Animation.Wave" Width="100%" /></p><p class="date"><MudSkeleton Animation="Animation.Wave" Width="100%" /></p>
                </article>
            </MudCardHeader>
            <div id="zoomBOut">
                <MudSkeleton SkeletonType="SkeletonType.Rectangle" Animation=" Animation.Wave" Width="100%" Height="100%" />
            </div>
            <MudCardContent>
                <article class="copyright-info">
                    <p><MudSkeleton Animation="Animation.Wave" Width="100%" Height="100%" /></p>
                    <p><MudSkeleton Animation="Animation.Wave" Width="100%" Height="100%" /></p>
                    <p><MudSkeleton Animation="Animation.Wave" Width="100%" Height="100%" /></p>
                    <p><MudSkeleton Animation="Animation.Wave" Width="100%" Height="100%" /></p>
                </article>
            </MudCardContent>
        </MudCard>
    </MudItem>
    <MudItem xs="12" sm="12" md="6" lg="6" xl="4">
        <MudCard Elevation="  3" Style="height: 100%">
            <MudCardHeader>
                <article class="copyright-info">
                    <p class="copyright"><MudSkeleton Animation="    Animation.Wave" Width="100%" /></p><p class="date"><MudSkeleton Animation=" Animation.Wave" Width="100%" /></p>
                </article>
            </MudCardHeader>
            <div id="zoomBOut">
                <MudSkeleton SkeletonType="  SkeletonType.Rectangle" Animation="  Animation.Wave" Width="100%" Height="100%" />
            </div>
            <MudCardContent>
                <article class="copyright-info">
                    <p><MudSkeleton Animation="Animation.Wave" Width="100%" Height="100%" /></p>
                    <p><MudSkeleton Animation="Animation.Wave" Width="100%" Height="100%" /></p>
                    <p><MudSkeleton Animation="Animation.Wave" Width="100%" Height="100%" /></p>
                    <p><MudSkeleton Animation="Animation.Wave" Width="100%" Height="100%" /></p>
                </article>
            </MudCardContent>
        </MudCard>
    </MudItem>
    <MudItem xs="12" sm="12" md="6" lg="6" xl="4">
        <MudCard Elevation="    3" Style="height: 100%">
            <MudCardHeader>
                <article class="copyright-info">
                    <p class="copyright"><MudSkeleton Animation="  Animation.Wave" Width="100%" /></p><p class="date"><MudSkeleton Animation="   Animation.Wave" Width="100%" /></p>
                </article>
            </MudCardHeader>
            <div id="zoomBOut">
                <MudSkeleton SkeletonType="SkeletonType.Rectangle" Animation="    Animation.Wave" Width="100%" Height="100%" />
            </div>
            <MudCardContent>
                <article class="copyright-info">
                    <p><MudSkeleton Animation="Animation.Wave" Width="100%" Height="100%" /></p>
                    <p><MudSkeleton Animation="Animation.Wave" Width="100%" Height="100%" /></p>
                    <p><MudSkeleton Animation="Animation.Wave" Width="100%" Height="100%" /></p>
                    <p><MudSkeleton Animation="Animation.Wave" Width="100%" Height="100%" /></p>
                </article>
            </MudCardContent>
        </MudCard>
    </MudItem>
    <MudItem xs="12" sm="12" md="6" lg="6" xl="4">
        <MudCard Elevation=" 3" Style="height: 100%">
            <MudCardHeader>
                <article class="copyright-info">
                    <p class="copyright"><MudSkeleton Animation="   Animation.Wave" Width="100%" /></p><p class="date"><MudSkeleton Animation="    Animation.Wave" Width="100%" /></p>
                </article>
            </MudCardHeader>
            <div id="zoomBOut">
                <MudSkeleton SkeletonType=" SkeletonType.Rectangle" Animation=" Animation.Wave" Width="100%" Height="100%" />
            </div>
            <MudCardContent>
                <article class="copyright-info">
                    <p><MudSkeleton Animation="Animation.Wave" Width="100%" Height="100%" /></p>
                    <p><MudSkeleton Animation="Animation.Wave" Width="100%" Height="100%" /></p>
                    <p><MudSkeleton Animation="Animation.Wave" Width="100%" Height="100%" /></p>
                    <p><MudSkeleton Animation="Animation.Wave" Width="100%" Height="100%" /></p>
                </article>
            </MudCardContent>
        </MudCard>
    </MudItem>
</MudGrid>

<MudSkeleton SkeletonType="SkeletonType.Rectangle" Animation="Animation.Wave" Width="100%" Height="75px" Style="margin-top: 15px"/>