@page "/apod"

@using Nasa.Client.Services.DataServices.APODServices;

@inject IJSRuntime _jsRuntime
@inject IDialogService _dialogService

@inject IGetApodDataService _getApodDataService

<main>
    <h2>Astronomy Picture of the Day</h2>
    @if (GetApodData is not null)
    {
        <section>
            <article class="copyright-info">
                <p class="copyright">Copyright: @GetApodData.Copyright</p><p class="date">Date: @GetApodData.Date</p>
            </article>

            <div id="zoomBOut"
             @onclick="OnClickImage">
                @if (GetApodData.MediaTypes == Models.MediaTypes.Video)
                {
                    <video id="video"
                   autoplay
                   controls />
                }
                else
                {
                    <div id="zoomBIn">
                        <img src="@GetApodData.Url" />
                    </div>
                }
            </div>
            <article class="copyright-info">
                <p class="copyright">Explanation: @GetApodData.Explanation</p>
            </article>
        </section>
    }
        <buton class="btn-load-more"
               type="submit"
           @onclick="LoadMore"><span>Load more</span></buton>
</main>