.copyright-info {
    display: block;
}

.copyright {
    display: inline-block;
    text-align: left;
    width: 75%;
    height: auto;
}

.date {
    display: inline-block;
    text-align: right;
    width: 25%;
    height: auto;
}

#zoomBOut {
    width: 60%;
    height: 60%;
    overflow: hidden;
}

#zoomBIn {
    transition: transform ease 0.3s;
}

#zoomBIn:hover {
    transform: scale(1.2);
}
