@using Nasa.Client.Models;

<div style="height: 100%;  display: table-column; overflow: scroll">
    <img class="fullscreen" src="@GetApodData.HdUrl" />
    <MudButton OnClick="@Submit">Close</MudButton>
</div>